.form__fieldset {
    border-width: 2px;
    border-color:#fcca72; 
}

.form__fieldsetLegend{
    padding: 6px;
}

.form__textLabel {
    display: inline-block;
    min-width: 200px;
    padding: 10px 0px;
}

.form__button {
    text-align: center;
    margin: auto;
    padding: 10px 0px;
    border-color: #fcca72;
    background-color: #fcca72;
    color: #1f1f1f;
    width: 100%;
    font-weight: 700;
}

.form__button:hover {
    background-color: #fab948;
}

.form__field {
    min-width: 200px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.form__field--input {
    margin: 2px;
    min-width: 200px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.form__result {
    margin: auto;
    text-align: center;
}